body {
color: white;
background: #191970;
margin: Opx;
font-family: "Chakra Petch", sans-serif;
margin-bottom: 100px;
}
 header {
border-bottom: solid 2px rgb(1, 2, 3);
padding: 20px;
font-size: 32px;
color: rgb(255, 255, 255);
}
.chamada {
background: rgb(184,156,213);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}